<p-breadcrumb [model]="items"></p-breadcrumb>

<div class="row my-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2 mb-4">
      Categorias
    </h1>
  </div>

  <div class="col-md">
    <button
      pButton type="button"
      routerLink="new"
      icon="pi pi-plus"
      label="Criar Categoria"
      class="ui-button-raised ui-button-success float-right"
    ></button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
        <strong>{{ category.name }}</strong>
        <small>{{ category.description }}</small>
      </td>
      <td>
        <button
          [routerLink]="[ category.id, 'edit' ]"
          class="btn btn-outline-info btn-sm"
        >Editer</button>

        <button
          (click)="delete(category)"
          class="btn btn-outline-danger btn-sm"
        >Excluir</button>
      </td>
    </tr>
  </tbody>
</table>